{{ define "main" }}
  <div class="mt-16">
			<header resource="{{.RelPermalink}}">
				<h1 class="text-4xl font-bold" property="dc:title">{{.Title}}</h1>
      </header>
			<p class="mt-6">{{.Params.description}}</p>
			<div class="mt-8">
				<h2 class="text-xl font-bold">
					{{ with or (.Param "subtitle") "Sozialatlasbezirke" }}{{ . }}{{ end }}:
				</h2>
			<ul class="mt-4">
      {{ range .Pages }}
        <li class="disc">
					<a resource="{{.RelPermalink}}" href="{{ .RelPermalink }}" class="underline">{{ .LinkTitle }}</a>
        </li>
      {{ end }}
			</ul>
	</div>
	{{ .Content }}
</div>
{{ end }}
