{{ define "title" }}
Sozialatlasbezirk {{.Title}}
{{end}}
{{ define "main" }}
<div resource="{{.RelPermalink}}" prefix="dc: http://purl.org/dc/terms/ schema: http://schema.org/ " class="mt-16">
<h1 class="text-4xl font-bold" property="dc:title">{{.Title}}</h1>
{{ $data := (where .Site.Data.bevoelkerung.sozialraum "atlas" .File.BaseFileName) }}
<p>Sozialraum: 
{{ with .Parent }}
  <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
{{ end }}
</p>
	{{ partial "bevoelkerung.html" (dict "context" . "bevoelkerung" $data) }}
</div>
{{.Content}}
{{end}}
