<div prefix="dc: http://purl.org/dc/terms/ schema: http://schema.org/ ">
	{{$pageTitle := .context.Page.Title}}
	<h3 property="qb:DimensionProperty" class="mt-6 text-xl font-bold">Bevölkerung</h3>
	<ul property="qb:DataSet">
		{{ range .bevoelkerung }}
		<li property="qb:Observation"><span property="qb:dimension" content="{{$pageTitle}}"></span><span property="qb:dimension" datatype="xsd:gYear">{{index . "jahr"}}</span>:<span datatype="xsd:integer" property="qb:measure">{{index . "value"}}</span></li>
		{{ end }}
	</ul>
</div>
